{% macro render_field(field) %}
    <tr>
        <td class="left">
            {{field}}
        </td>
        <td class="right">
            {{field.label}}
        </td>
    </tr>
{% endmacro %}
{% extends "base.html"%}
{% block content %}
    <script src="/static/form.js"></script>
    <div class="wrapper" id="form">
    <h1>ECC Problem Generator</h1>
    <p>
    Practice problem generator with solutions for Reed Solomon codes as presented in CS70, Spring 2013 at UC Berkeley.<br>
    Original written by Quinn Johnson. Made web compatible and hosted by Sebastian Merz.</p>
    </p>
    <hr>
    <form id="ecc-form" action="ecc/" method="post">
        <table>
            {{ render_field(form.n) }}
            {{ render_field(form.k) }}
            {{ render_field(form.mod) }}
            {{ render_field(form.show_inv) }}
            {{ render_field(form.show_rref) }}
            {{ render_field(form.show_lagrange) }}
            {{ render_field(form.show_orig) }}
            {{ render_field(form.show_bw) }}
            <tr>
                <td class="left">
                    <button type="button" onclick="send()">Generate</button>
                </td>
                <td class="right">
                </td>
            </tr>
        </table>
    </form>
    </div>
    <div style="display: none;" class="wrapper" id="output">
    </div>
{% endblock %}
